#c {
    display: inline;
    border: .25em solid black;
}

#result-col {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

#result {
    display: block;
    overflow-y: scroll;
    margin-bottom: .5em;
    resize: none;
    width: 15em;
}

body {
    text-align: center;
}